
.bg-pink{
    background-color: #B91450;
}

.col-pink{
    color: #B91450 !important;
}

.form-control, .form-select{
    width: initial !important;
    border-color: #B91450 !important;
}

form > div {
    display: inline-block;
}

.white-container{
    background-color: white;
}